// Place all the styles related to the public/requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-success {
  color: #000000;
  background-color: #c66358;
  border-color: #000000;
}