// Place all the styles related to the public/vegetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.vegetable-show{
  .flex-item {
    padding: 4px;
    margin: 5px;
  }

  .flex-item:nth-child(1) {
    flex: 1;
    font-weight: bold;
    background: #ffff55;
  }

  .flex-item:nth-child(2) {
    flex: 3;
    border-bottom: 1px solid gray;
    display: inline-block;
  }
}