<div class="container">
  <h4 class="my-3 text-center">レシピ投稿</h4>
  <div class="row">
    <div class="col-6 px-5 px-sm-0 mx-auto">
      <%= render 'form', item: @recipe, url: recipe_path(@recipe), submit: 'レシピを変更する' %>
   </div>
  </div>
</div>

