<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffff55">レシピを探そう</h4>
  <%= render "public/recipes/index_form", itme: @recipes, url: recipes_path(@recipe) %>
  <div class="d-flex justify-content-center text-center">
    <%= paginate @recipe %>
  </div>
</div>
