<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">レシピ投稿</h4>
  <div class="row">
    <div class="col-lg-9 col-sm-12  px-5 px-sm-0 mx-auto">
      <%= render 'form', item: @recipe, url: recipes_path, submit: 'レシピを投稿する' %>
    </div>
  </div>
</div>

