<div class="container">
  
  <h4 class="my-3 text-center" style="background-color: #ffff55">野菜を探そう</h4>
  <%= render "public/vegetables/index_form", itme: @vegetables, url: vegetables_path(@vegetable) %>

  <div class="d-flex justify-content-center text-center">
    <%= paginate @vegetable %>
  </div>
</div>
