<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">作ってみたリスト一覧</h4>
  <div class="row">
    <div class="col">
      <div class="d-flex flex-wrap">
        <% @made_list.each do |made| %>
        <div class="mr-3 d-flex flex-column mb-4">
          <%= link_to recipe_path(made) do %>
            <% if made.recipe_image.attached? %>
              <%= image_tag made.recipe_image, size: "340x250" %>
            <% else %>
              <%= image_tag 'no-image', size: "340x250" %>
            <% end %>
          <% end %>
          <p class="ml-1 text-dark"><strong><%= made.name %></strong></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
