<%= form_with model: Request.new, url:requests_path(@request.id), method: :post do |f| %>
  <div class="mt-10">
    <table class="table table-borderless">
      <tbody>
        <td class ="text-center">
          <h4 class="my-3 text-center" style="background-color: #ffb830">ご意見・ご要望</h4>
          <%= f.text_area :content, autofocus: true, id:"inputContent", class:"form-control", :size=>"10x10", placeholder: content_text %>
          <%= f.submit 'リクエストを投稿する', class:"btn btn-success my-2" %>
        </td>
      </tbody>
    </table>
<% end %>


