<%= form_with model: Request.new, url:requests_path(@request.id), method: :post do |f| %>
  <div class="form-group">
    <table class="table table-borderless">
      <tbody>
        <td class ="text-center">
          <%= f.label :content, "ご意見・ご要望" %>
          <%= f.text_area :content, autofocus: true, id:"inputContent", class:"form-control", :size=>"40x6" %>
          <%= f.submit 'リクエストを投稿する', class:"btn btn-success my-2" %>
        </td>
      </tbody>
    </table>
<% end %>
