<div class="row">
  <div class="request-index">
    <% if @requests.present? %>
      <% @requests.each do |request| %>
        <div class="flex-row">
          <div class="flex-item">投稿ユーザー</div>
          <div class="flex-item"><%= request.user.account_name %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">ご意見・ご要望内容</div>
          <div class="flex-item"><%=safe_join(request.content.split("\n"),tag(:br))%></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">投稿日</div>
          <div class="flex-item"><%= request.created_at.strftime('%Y/%m/%d') %></div>
        </div>
        <div class="flex-row">
          <div class="no-item"></div>
          <div class="no-item">
            <%= link_to "詳細を見る", request_path(request) %>
          </div>
        </div>
        <div class="border-item"></div>
      <% end %>
    <% end %>
  </div>
</div>


