<div class="container">
  <h4 class="my-5 text-center">皆様からのご意見・ご要望</h4>
  <%= render "public/requests/index", itme: @requests, url: requests_path(@requests) %>

  <div class="d-flex justify-content-center text-center">
    <%= paginate @requests %>
  </div>
</div>

