// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.item {
 margin: 10px;
 text-align: center;

 .btn-info {
  width: 10em;
  height:3em;
  text-align: center;
 }
}