// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-form{
  .flex-item {
    padding: 4px;
    margin: 5px;
  }

  .flex-item:nth-child(1) {
    flex: 1;
    background: #f3ccd5;
    font-weight: bold;
  }

  .flex-item:nth-child(2) {
    flex: 2;
    border-bottom: 1px solid gray;
  }

}

.user-index{
  .flex-item {
    padding: 4px;
    margin: 5px;
  }

  .flex-item:nth-child(1) {
    flex: 1;
    background: #f3ccd5;
    text-align: center;
  }

  .flex-item:nth-child(2) {
    flex: 2;
  }

  .flex-item:nth-child(n+3):nth-child(-n+5) {
    flex: 1;
    text-align: center;
  }

  .title-item:not(:nth-child(2)) {
    flex: 1;
    text-align: center;
    font-weight: bold;
  }

  .title-item:nth-child(2) {
    flex: 2;
    font-weight: bold;
  }

  .border-item {
    border-bottom: 1px solid gray;
  }

}