<div class="container">
  <h4 class="my-3 text-center">レビュー編集</h4>
  <div class="row">
    <div class="col-6 px-5 px-sm-0 mx-auto">
      <%= render 'form', review: @review, url: reviews_path, submit: 'レビューを変更する' %>
   </div>
  </div>
</div>

