<%= form_with model: @effect, url:admin_effects_path(@effect.id), method: :post do |f| %>
  <div class="form-group">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>効能名</th>
          <td><%= f.text_field :name, autofocus: true, id:"inputTitle", class:"form-control" %></td>
        </tr>
        <tr>
          <th>効能概要</td>
          <td><%= f.text_area :introduction, id:"inputIntroduction", class:"form-control", :size=>"30x15" %></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center my-3">
      <%= f.submit submit, class:"btn btn-success w-25" %>
    </div>
  </div>
<% end %>