<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">効能情報登録</h4>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 px-5 px-sm-0 mx-auto">
    <!--#新規投稿エラーメッセージの表示-->
      <div class="form-body p-4">
        <% if @effect.errors.any? %>
        <%= @effect.errors.count %>項目のエラーにより、保存できませんでした。
        <ul>
          <% @effect.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
      </div>

      <%= render "admin/effects/form", itme: @effect, url: admin_effects_path(@effect), submit: '　新規登録　' %>
    </div>
  </div>
</div>
