<div class="container">
  <h4 class="my-5 text-center">検索結果</h4>


  <table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "Recipe" %>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @effects.each do |effect| %>
        <tr>
          <td><%= effect.name %></td>
          <td><%= effect.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>



</div>