<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">野菜情報編集</h4>
  <div class="row">
    <div class="col-8 px-5 px-sm-0 mx-auto">

      <div class="form-body p-4">
       <% if @vegetable.errors.any? %>
       <ul class="alert alert-danger" role="alert">
         <h6 class="alert-heading">
          <%= @vegetable.errors.count %>error prohibited this obj from being saved:
         </h6>
         <% @vegetable.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
       </ul>
       <% end %>
     </div>

     <%= render "admin/vegetables/form", itme: @vegetable, url: admin_vegetable_path(@vegetable), submit: '保存' %>
    </div>
  </div>
</div>

