<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">野菜情報登録</h4>
  <div class="row">
    <div class="col-8 px-5 px-sm-0 mx-auto">
    <!--#新規投稿エラーメッセージの表示-->
      <div class="form-body p-4">
        <% if @vegetable.errors.any? %>
        <%= @vegetable.errors.count %>error prohibited this obj from being saved:
        <ul>
          <% @vegetable.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
      </div>

      <%= render "admin/vegetables/form", itme: @vegetable, url: admin_vegetables_path(@vegetable), submit: '新規登録' %>
    </div>
  </div>
</div>
