<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffff55">効能から自分の体調に合った野菜を探そう</h4>
  <div class="my-3">
      <div class="d-flex flex-wrap align-center">
        <% @effects.each do |effect| %>
        <div class="mr-4 d-flex flex-column mb-4">
          <%= link_to effect.name, effect_path(effect), class:"btn btn-outline-info btn-lg", data: {"turbolinks" => false} %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
