<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830"><%= @effect.name %>について</h4>
  <div class="my-3 text-center"><%=safe_join(@effect.introduction.split("\n"),tag(:br))%></div>

  <div class="my-5 text-center">
    <p class="text-center" style="background-color: #c66358">
      <strong>摂取したい栄養素</strong>
    </p>
        <%= @nutrients.uniq.join(" ・ ") %>
    </div>

    <div class="my-5 text-center">
      <p class="text-center" style="background-color: #c66358">
        <strong>摂取したい野菜</strong>
      </p>
        <%= @vegetables.uniq.join(" ・ ") %>
    </div>

  </div>
</div>
