/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbtn-block {
 text-align: center;
 .topbtn{
   color: #ffffff;
   background: rgba(0, 0, 0, 0.3);
   border: 1px solid #fff;
   margin: 0 0.5rem;
 }
}

.index-img{
  		width: 340px;
  		height: 250px;
  		object-fit: cover;
}

.list-img{
  		width: 200px;
  		height: 150px;
  		object-fit: cover;
}

.flex-row {
    display: flex;
  }

.signupform, .loginform{
  .flex-item {
    padding: 4px;
    margin: 5px;
  }

  .flex-item:nth-child(1) {
    flex: 1;
    font-weight: bold;
  }

  .flex-item:nth-child(2) {
    flex: 2;
  }
}

